* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Aquí tengo estilos generales*/

.img-container
{
    display: flex;
}

.img-container img
{
    width: 100%;

}

/*Aquí tengo los estilos del header*/


header 
{
    background: #1f1f1f;
    padding: 10px 50px;
}

#logo img 
{
    width: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
}

/*Aquí estan los estilos del hero*/

#hero
{
    position: relative;
}
#hero #computadora
{
    display: inline-block;
    width: 100%;
}   

#hero .informacion-container
{
    position: absolute;
    display: flex;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 0 150px;
    top: 50%;
    transform: translateY(-50%);
}

#hero .informacion-container #foto img
{
    width: 200px;
    border-radius: 100%;
    margin-top: -60px;
    height: 100%;
}

#hero .informacion-container .informacion
{
    margin-left: 20px;
    font-weight: bold;
    width: calc(100% - 200px);
}
#hero .informacion-container .informacion span
{
    color: #b5b5b5;
    display: inline-block;
    margin-bottom: 70px;
    
}

/* Estilos del main*/

main {
    padding: 100px;
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li {
    margin-left: 8px;
}

main .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

main .social-icons #github {
    background: #23272d;

}

main .social-icons #linkedin {
    background-color: #0077b0;
}

main .social-icons #platzi {
    background: #121f3d;
}

main .social-icons #youtube {
    background: #f70000;
}
